<header class="ae-container-fluid ae-container-fluid--full rk-header ">
    <input type="checkbox" id="mobile-menu" class="rk-mobile-menu">
    <label for="mobile-menu">
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
    </label>
    <!-- Inicia TOPBAR -->
    <div class="ae-container-fluid rk-topbar">
      <!-- Abre logo -->
      <h1 class="rk-logo">
        <a routerLink="">  
          <img src="assets/img/logo_w34.png">
          {{ infoService.info.titulo }}
          <sup>TM</sup>
        </a>
      </h1> <!-- Cierra logo -->
      <!-- Abre barra de navegación (= header excepto logo) -->
      <nav class="rk-navigation">
        <!-- Abre Menu -->
        <ul class="rk-menu">
          <!-- FOR cada item en el array info.menu[] de la BD info -->
          <li *ngFor="let menu_item of infoService.info.menu"
            routerLinkActive="active" class="rk-menu__item">
            <a routerLink="{{ menu_item.link }}" class="rk-menu__link">{{ menu_item.es }}</a>
          </li>
          <!-- Selector de Idioma -->
          <select id="lang" 
            routerLinkActive="active" class="rk-menu__item">
            <option value="es">ES</option>
            <option value="en">EN</option>
            <option value="de">DE</option>
            <option value="eo">EO</option>
          </select>
        </ul> <!-- Cierra Menu -->
        <!-- Abre Caja de busqueda -->
        <div class="rk-search">
          <input type="text"
                 (keyup.enter)="searchProduct( txtSearch.value )"
                 placeholder="Search..." 
                 id="urku-search" 
                 class="rk-search-field"
                 #txtSearch>
              <!-- Cuando levante tecla enter se lee el valor de la caja de texto 
              y se manda el valor al metodo searchProduct en header.component.ts -->
          <label for="urku-search">
            <svg><use xlink:href="assets/img/symbols.svg#icon-search"></use></svg>
          </label>
        </div> <!-- Cierra Caja de busqueda -->
      </nav> <!-- Cierra barra de navegacion (= header excepto logo) -->
    </div> <!-- Cierra TOPBAR -->
  </header>