
<!-- ***************************************************************-->
<!-- ************** HTML PRICIPAL DE LA APLICACIN ******************-->
<!-- ***************************************************************-->

<!-- ******************** Encabezado *******************************-->
<app-header></app-header>

<!-- ************* Main Aurora container ***************************-->
<section class="ae-container-fluid rk-main">
    <router-outlet></router-outlet>
</section>

<!-- ******************** Pie de pagina ****************************-->
<app-footer></app-footer>


