<section class="ae-container-fluid ae-container-fluid--inner rk-blog">

  <div class="rk-blog__items">
    <!--------------------------------------------------------------------------->
    <!-- FOR cada home_item en la base de datos home.json -->
    <div *ngFor="let home_item of infoService.home" >
      <!-- Abre contenido de la imagen -->
      <div class="post-img rk-landscape-alt rk-toportrait"
          [ngStyle]="{ 'background-image': 'url('+ home_item.img +')' }">
        <div class="item-meta">
          <h1 class="ae-u-bolder rk-portfolio-title">{{home_item.title}}</h1>
          <p *ngIf=home_item.imgtext>
            <a [routerLink]="home_item.link" class="arrow-button">{{home_item.imgtext}}
              <span class="arrow-cont">
                <svg><use xlink:href="assets/img/symbols.svg#arrow"></use></svg>
              </span>
            </a>
          </p>
        </div>
      </div>
      <!-- Cierra contenido de la imagen -->
      <!-- Abre contenido del texto -->
      <div class="blog-info">
        <h2 class="blog-info__title"> <a [routerLink]="home_item.link">{{home_item.subtitle}}</a></h2>
        <p class="blog-info__descrip"> {{home_item.text}}
      </div>
      <div class="blog-meta">
        <a [routerLink]="home_item.link" class="ae-u-bolder blog-meta__comments">No Comment</a>
        <span class="ae-kappa ae-u-bold blog-meta__date">August, 02 2015</span>
        <a [routerLink]="home_item.link" class="arrow-button blog-meta__read-more">{{home_item.linktext}}
          <span class="arrow-cont">
            <svg><use xlink:href="assets/img/symbols.svg#arrow"></use></svg>
          </span>
        </a>
      </div>
      <div class="blog-info"> <!--gap--> </div> 
      <!-- Cierra contenido del texto -->
    </div>
    <!---------------------------------------------------------------------------->
  </div>
</section>
